USE [master]
GO
/****** Object:  Database [robertlog]    Script Date: 2/16/2018 6:10:37 PM ******/
CREATE DATABASE [robertlog]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [robertlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [robertlog]
GO
/****** Object:  User [rluser]    Script Date: 2/16/2018 6:10:37 PM ******/
CREATE USER [rluser] FOR LOGIN [rluser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rluser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rluser]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 2/16/2018 6:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ActionID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[ActionType] [nchar](10) NOT NULL,
	[FromUser] [nvarchar](max) NULL,
	[ActionDetail] [nvarchar](max) NULL,
	[ActionStatus] [nchar](10) NULL
)

GO
/****** Object:  Table [dbo].[RawMsg]    Script Date: 2/16/2018 6:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMsg](
	[MsgID] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[RawMsg] [nvarchar](max) NULL,
	[FromUser] [nvarchar](max) NULL,
	[ToUser] [nvarchar](max) NULL,
	[MsgType] [nvarchar](35) NULL
)

GO
USE [master]
GO

/* create sql in one line
CREATE TABLE [dbo].[Actions](	[ActionID] [bigint] IDENTITY(1,1) NOT NULL,	[CreateTime] [datetime2](7) NOT NULL,	[ActionType] [nchar](10) NOT NULL,	[FromUser] [nvarchar](max) NULL,	[ActionDetail] [nvarchar](max) NULL,	[ActionStatus] [nchar](10) NULL)

CREATE TABLE [dbo].[RawMsg](	[MsgID] [bigint] IDENTITY(1,1) NOT NULL,	[TimeStamp] [datetime2](7) NOT NULL,	[RawMsg] [nvarchar](10240) NULL,	[FromUser] [nvarchar](10240) NULL,	[ToUser] [nvarchar](10240) NULL,	[MsgType] [nvarchar](35) NULL)
*/